<!-- Copyright Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <h6 class="display-6 navbar">&copy; Copyright Aiju Kinoshita - Fall 2021 - COMP229-010. All Rights reserved.</h6>
    </nav>
  </footer>