<!-- Copyright Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright Aiju Kinoshita - Fall 2021 - COMP229-010. All Rights reserved.</h6>
    </nav>
  </footer>